
@{
    ViewBag.Title = "Index";
}

<div style="margin: 35px">
    <a class="btn btn-default" style="float:right" href="@Url.Action("Nuevo","Producto")">Nuevo producto</a>
    <h2>Listado de Productos</h2>
</div>


